
<div class="container-fluid w-100 bg-light">
	<div class="table table-responsive w-100 d-md-table">
		<div class="d-flex mb-3">
				<div class="p-2 card-title h4">Gas Tracker</div>
				<div class="ms-auto p-2 is-size-7 has-text-right "><abbr id="gasrefreshCounter" title="Seconds since last refresh">0</abbr></div>
		</div>
		<div class="d-flex mb-3 text-center">
				<div class="flex-fill">
							<span class=" has-text-center h6">Slow</span>
							<br>
							<span class="is-size-10 has-text-center" id="SafeGasPrice"> </span>
				</div>
				<div class="flex-fill">
							<span class=" has-text-center h6">Medium</span>
							<br>
							<span class="is-size-10 has-text-center" id="ProposeGasPrice"> </span>
				</div>
				<div class="flex-fill">
							<span class=" has-text-center h6">Fast</span>
							<br>
							<span class="is-size-10 has-text-center" id="FastGasPrice"> </span>
				</div>
				<div class="flex-fill">
							<span class=" has-text-center h6">Suggested</span>
							<br>
							<span class="is-size-10 has-text-center" id="suggestBaseFee"> </span>
				</div>
		</div>
<!--
		<table class="table table-hover w-100 ">
			<thead>
				<div class="d-flex mb-3">
						<div class="p-2 card-title h4">Gas Tracker</div>
						<div class="ms-auto p-2 is-size-7 has-text-right "><abbr id="gasrefreshCounter" title="Seconds since last refresh">0</abbr></div>
				</div>

				<tr class="w-100">
				  <th><abbr title="estimated speed for transaction to complete">Speed</abbr></th>
				  <th></th>
          <th></th>
          <th></th>
          <th></th>
				  <th><abbr title="Gwei is used to measure the cost of transactions on the Ethereum network">Gwei</abbr></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				  <th >Slow</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
				  <td style="text-align: left;" id="SafeGasPrice"></td>
				</tr>
				<tr>
				  <th>Medium</th>
				  <td></td>
          <td></td>
          <td></td>
          <td></td>
				  <td style="text-align: left;" id="ProposeGasPrice"></td>
				</tr>
				<tr>
				  <th >Fast</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
				  <td style="text-align: left;" id="FastGasPrice"></td>
				</tr>
				<tr>
				  <th >Suggested</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
				  <td style="text-align: left;" id="suggestBaseFee"></td>
				</tr>
			</tbody>
		</table>
		-->
	</div>
</div>


	<script>
		//api call
		getText("https://api.etherscan.io/api?module=gastracker&action=gasoracle&apikey=WIXBRRT4DHHS6UM2CSJ4SB9GEU5SM5JBB5");

		var messageStatus="NOK";
		var secCounter = 0;

		//json parser and fill HTML text
		async function getText(file) {
			/*https://api.etherscan.io/api
			?module=gastracker
			&action=gasoracle
			&apikey=WIXBRRT4DHHS6UM2CSJ4SB9GEU5SM5JBB5 */
			gasrefreshCounter();
			while (true)
			{
				let myObject = await fetch(file);
				let myText = await myObject.text();

				const obj = JSON.parse(myText);
				  //document.getElementById("demo").innerHTML = myText;
				document.getElementById("SafeGasPrice").innerHTML = obj.result.SafeGasPrice;
				document.getElementById("ProposeGasPrice").innerHTML = obj.result.ProposeGasPrice;
				document.getElementById("FastGasPrice").innerHTML = obj.result.FastGasPrice;
				document.getElementById("suggestBaseFee").innerHTML = Math.round(Number(obj.result.suggestBaseFee));
				messageStatus=obj.message;

				if(messageStatus==="OK")
				{
					messageStatus="NOK";
					secCounter=0;
				}
				await sleep(5000);
			}

		}

		//refresh counter since successful api call
		async function gasrefreshCounter()
		{
			while (true)
			{
				document.getElementById("gasrefreshCounter").innerHTML = secCounter;
				await sleep(1000);
				secCounter++;
			}
		}

		//sleep helper
		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}
	</script>
