<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ROYALS LLC. | Web3</title>
    <!-- CSS only

   JavaScript Bundle with Popper


<script src="stylesheet/bootstrap.bundle.min.js" ></script>

       <link href="stylesheet/bootstrap.min.css">
    <link href="icons/all.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   -->



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f3c062c5b5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjs@8.0.1/lib/browser/math.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<style>
		@media (min-width: 0px) and (max-width: 490px) {
			.text-sm-nowrap
			{
			  white-space: normal !important;
			}
		}
		@media (min-width: 491px) {
			.text-sm-nowrap
			{
			  white-space: nowrap !important;
			}
		}

		.form-control:focus
		{
		  border-color: #ffffff;
		  box-shadow:  #ffffff;
		  border: 0px solid #ccc;
		  outline:none;
		}
	</style>

<script>
	let coingecko_ids_to_track = [];
	let btcprice = 0;
	let ETH_USD=1000;
    //sleep helper
    	function sleep(ms)
	{
	      return new Promise(resolve => setTimeout(resolve, ms));
    	}

    function nFormatter(num, digits)
    {
	      const lookup = [
	        { value: 1, symbol: "" },
	        { value: 1e3, symbol: "k" },
	        { value: 1e6, symbol: "M" },
	        { value: 1e9, symbol: "G" },
	        { value: 1e12, symbol: "T" },
	        { value: 1e15, symbol: "P" },
	        { value: 1e18, symbol: "E" }
	      ];
	      if(num<1)
	      {
	        return (Math.round(num*(10**digits))/(10**digits));
	  	}
	  const rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
	  var item = lookup.slice().reverse().find(function(item) {
	    return num >= item.value;
	  });
	  return item ? (num / item.value).toFixed(digits).replace(rx, "$1") + item.symbol : "0";
	}

	function nReverseFormatter(num)
      {
		let token_balance_formatted = num;
		let token_balance_unformatted = Number(token_balance_formatted.slice(0, -2));
		if(token_balance_formatted.includes("k"))
		{
			//console.log("k");
			return token_balance_unformatted*(10**3);
		}
		else if(token_balance_formatted.includes("M"))
		{
			return token_balance_unformatted*(10**6);
		}
		else if(token_balance_formatted.includes("G"))
		{
			return token_balance_unformatted*(10**9);
		}
		else if(token_balance_formatted.includes("T"))
		{
			return token_balance_unformatted*(10**12);
		}
		else if(token_balance_formatted.includes("P"))
		{
			return token_balance_unformatted*(10**15);
		}
		else if(token_balance_formatted.includes("E"))
		{
			return token_balance_unformatted*(10**18);
		}
  	  return num;
  	}
    //document.getElementById("demo").addEventListener("click", myFunction);
      //let address_lookup_input = document.getElementById('address_lookup_search').value;

      //value="0xb1675086bd4a199e28b87E2bBDa9C825116da78F"
	let address = "";

	function search_address(element_id)
	{
		address=document.getElementById(element_id).value;
		lookup_address();
		document.getElementById("landingSearch").className  = "container-fluid d-none";

		document.getElementById("wallet_table").className ="table table-responsive w-100 d-md-table";
	}
	function search_refresh()
	{
		updateStats();
		get_wallet_tokens();
	}


	function read_cookie(key)
	{
	    var result;
	    return (result = new RegExp('(?:^|; )' + encodeURIComponent(key) + '=([^;]*)').exec(document.cookie)) ? (result[1]) : null;
	}
    </script>
  </head>

  <body class="w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black w-100 sticky-top">
    <div class="container-fluid">
        <a href="/web3" class="navbar-brand">ROYALS LLC.</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/web3" class="nav-item nav-link active">Portfolio</a>
                <a href="/" class="nav-item nav-link">Gaming</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!--<a href="#" class="nav-item nav-link">Register</a>-->

                  <input id="address_lookup_search" autocomplete="on" class="form-control me-2"  type="search" placeholder="search ETH/ENS address" aria-label="Search">
                  <button id="address_lookup_search_button" value="address_lookup_search" onclick="search_address(this.value);" class="btn bg-black text-white" type="submit"><i class="fa fa-magnifying-glass"></i></i></button>

            </div>
        </div>
    </div>
</nav>

<script>
var input = document.getElementById("address_lookup_search")
input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    //document.getElementById("address_lookup_search_button").click();
    search_address();
  }
});


</script>
