<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ROYALS LLC. | Web3</title>
    <!-- CSS only

   JavaScript Bundle with Popper




   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
   -->

    <script src="stylesheet/bootstrap.bundle.min.js" ></script>
    <link href="stylesheet/bootstrap.min.css">
    <link href="icons/all.css">

    <script>
    //sleep helper
    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
    //document.getElementById("demo").addEventListener("click", myFunction);
      //let address_lookup_input = document.getElementById('address_lookup_search').value;

      //value="0xb1675086bd4a199e28b87E2bBDa9C825116da78F"
    </script>
  </head>

  <body class="w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-black w-100">
    <div class="container-fluid">
        <a href="/web3" class="navbar-brand">ROYALS LLC.</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/web3" class="nav-item nav-link active">Portfolio</a>
                <a href="/" class="nav-item nav-link">Gaming</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!--<a href="#" class="nav-item nav-link">Register</a>-->

                  <input id="address_lookup_search" class="form-control me-2"  type="search" placeholder="Search" aria-label="Search">
                  <button id="address_lookup_search_button" onclick="getNFTFromAddress();" class="btn bg-black text-white" type="submit"><i class="fa fa-1halfx fa-magnifying-glass"></i></i></button>

            </div>
        </div>
    </div>
</nav>
<script>
var input = document.getElementById("address_lookup_search")
input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    //document.getElementById("address_lookup_search_button").click();
    getNFTFromAddress();
  }
});
</script>
