<div class="container-fluid w-100 bg-light">
	<div class="table table-responsive w-100 d-md-table">

    <table class="table table-hover w-100">
      <thead>
				<div class="d-flex mb-3">
					  <div class="p-2 card-title h4">Token Tracker</div>
					  <div class="ms-auto p-2 is-size-7 has-text-right "><abbr id="refresh_token_tracker_counter" title="Seconds since last refresh">0</abbr></div>
				</div>

        <tr>
          <th><abbr title="Token Name">Name</abbr></th>
          <th><abbr title="Token Price in BTC">Value</abbr></th>
        </tr>
      </thead>
      <tbody id="token_watchlist">

      </tbody>
    </table>
  </div>
</div>

<script>
  //api call
  getWatchlistApi("https://api.coingecko.com/api/v3/simple/price?ids=polkacity%2Cbitcoin%2Cethereum%2Cdecentral-games-ice%2Cgala&vs_currencies=usd&include_24hr_change=true");
  let trackerSecCounter = 0;
	refreshTokenTrackerCounter();
  //json parser and fill HTML text
  async function getWatchlistApi(file) {
    while (true)
    {
      let myObject = await fetch(file);
      let myText = await myObject.text();
      const token_obj = JSON.parse(myText);

			let tacker_obj_keys = Object.keys(token_obj)

      for (let i = 0; i < tacker_obj_keys.length; i++)
      {
				let token_id=tacker_obj_keys[i];
				if(document.getElementById(`${token_id}_Name`) == null)
				{
					let token_tracker_row = `
					<tr>
	          <th style="text-align: left;">
							<div class="" id="${token_id}_Name">${token_id}</div>
							<div class="muted" id="${token_id}_Ticker"></div>
					  </th>
	          <td style="text-align: left;" id="${token_id}_price">$${nFormatter(token_obj[token_id].usd,2)}</td>
	        </tr>
					`;
						document.getElementById("token_watchlist").innerHTML += token_tracker_row;

						console.log(token_obj[token_id].usd);
						console.log(token_id);
				}
				else
				{
					document.getElementById(`${token_id}_price`).innerHTML = "$"+nFormatter(token_obj[token_id].usd,3);
				}

      }
      await sleep(5000);
      trackerSecCounter=0;
    }
  }
  //refresh counter since successful api call
  async function refreshTokenTrackerCounter()
  {
    while (true)
    {
      document.getElementById("refresh_token_tracker_counter").innerHTML = trackerSecCounter;
      await sleep(1000);
      trackerSecCounter++;
    }
  }
</script>
