<div class="container-fluid w-100 bg-light">
	<div class="table table-responsive w-100 d-md-table">

    <table class="table table-hover w-100">
      <thead>
				<div class="d-flex mb-3">
					  <div class="p-2 card-title h4">Token Tracker</div>
					  <div class="ms-auto p-2 is-size-7 has-text-right "><abbr id="refresh_token_tracker_counter" title="Seconds since last refresh">0</abbr></div>
				</div>

        <tr>
          <th><abbr title="Token Name">Name</abbr></th>
          <th style="text-align: right;"><abbr title="Token Price in USD">Price</abbr></th>
        </tr>
      </thead>
      <tbody id="token_watchlist">

      </tbody>
    </table>
  </div>
</div>

<script>
  //api call
	let coingecko_api_token_usd = "https://api.coingecko.com/api/v3/simple/price?ids=";
	let tracked_tokens = ["ethereum", "bitcoin", "decentral-games-ice", "gala" ];
	coingecko_ids_to_track.push(tracked_tokens);
	getWatchlistApi();
	let trackerSecCounter = 0;
	refreshTokenTrackerCounter();

	//json parser and fill HTML text
	async function getWatchlistApi()
	{
	    	while (true)
	    	{
		    	coingecko_api_token_usd = "https://api.coingecko.com/api/v3/simple/price?ids=";
		    	for (let i = 0; i < coingecko_ids_to_track.length; i++)
	          	{
			    if(i===(coingecko_ids_to_track.length-1))
			    {
				    coingecko_api_token_usd+=`${coingecko_ids_to_track[i]}&vs_currencies=usd&include_24hr_change=true`;
			    }
			    else
			    {
			    	coingecko_api_token_usd+=`${coingecko_ids_to_track[i]}%2C`;
			    }
		    	}
			console.log(coingecko_api_token_usd);
		      let myObject = await fetch(coingecko_api_token_usd);
		      let myText = await myObject.text();
		      const token_obj = JSON.parse(myText);

			let tacker_obj_keys = Object.keys(token_obj)

		      for (let i = 0; i < tacker_obj_keys.length; i++)
		      {
				let token_id=tacker_obj_keys[i];
				if((document.getElementById(`${token_id}_Name`) == null) && (tracked_tokens.includes(token_id)))
				{
					let token_tracker_row = `
					<tr>
				          	<th style="text-align: left;">
							<div class="" id="${token_id}_Name">${token_id}</div>
							<div class="muted" id="${token_id}_Ticker"></div>
				  		</th >
			          		<td style="text-align: right;" id="${token_id}_price">$${nFormatter(token_obj[token_id].usd,2)}</td>
			        	</tr>
					`;
					document.getElementById("token_watchlist").innerHTML += token_tracker_row;

					console.log(token_obj[token_id].usd);
					console.log(token_id);
				}

				if(document.getElementById(`${token_id}_Name`) != null)
				{
					document.getElementById(`${token_id}_price`).innerHTML = "$"+nFormatter(token_obj[token_id].usd,3);
				}


				if(document.getElementById(`wallet_${token_id}_balance_usd`) != null)
				{

					let token_balance_formatted = nReverseFormatter(document.getElementById(`wallet_${token_id}_balance`).innerHTML);

					document.getElementById(`wallet_${token_id}_balance_usd`).innerHTML = `$${nFormatter(token_balance_formatted*token_obj[token_id].usd,2)}`;
					//console.log(`${token_id}:  $${nFormatter(token_balance_formatted*token_obj[token_id].usd,2)}`);
					//console.log(`${token_id} format:  ${token_balance_formatted}`);
					if((nFormatter((token_balance_formatted)*token_obj[token_id].usd,2))=="0")
					{
						document.getElementById(`wallet_${token_id}`).innerHTML= "";
					}
				}

		      }
			await sleep(5000);
			trackerSecCounter=0;
		}
  	}
  //refresh counter since successful api call
  async function refreshTokenTrackerCounter()
  {
    while (true)
    {
      document.getElementById("refresh_token_tracker_counter").innerHTML = trackerSecCounter;
      await sleep(1000);
      trackerSecCounter++;
    }
  }
</script>
