
<table class="table table-hover w-100 ">
  <thead>
    <div class="d-flex mb-3">
        <div class="p-2 card-title h4">Gas Tracker</div>
        <div class="ms-auto p-2 is-size-7 has-text-right "><abbr id="" title="Seconds since last refresh">0</abbr></div>
    </div>

    <tr class="w-100">
      <th><abbr title="estimated speed for transaction to complete">Ticker/Price</abbr></th>
      <th><abbr title="estimated speed for transaction to complete">Name</abbr></th>
      <th><abbr title="Gwei is used to measure the cost of transactions on the Ethereum network">Gwei</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th >Slow</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align: left;" id=""></td>
    </tr>
    <tr>
      <th>Medium</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align: left;" id=""></td>
    </tr>
    <tr>
      <th >Fast</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align: left;" id=""></td>
    </tr>
    <tr>
      <th >Suggested</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align: left;" id=""></td>
    </tr>
  </tbody>
</table>



<script>

</script>
